doctype html
html(lang='en')
    head
        title Request Header Parser Micro service
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        div.container
            h1.header API Basejump: Request Header Parser Micro service
            blockquote
                p User stories:
                ul 1) I can get the IP address, language and operating system for my browser.
            h3 Example usage:
            code https://calm-citadel-87766.herokuapp.com/api/whoami
            br
            h3 Example output:
            code {ipaddress: "183.82.38.253",language: "en-IN",software: "Windows NT 10.0; Win64; x64"}